@use "../../variables" as v;

.posts-list {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  color: v.$text-color;
  margin-top: 2rem;
  gap: 1rem;
  .add-post {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.3rem 1rem;
    background-color: v.$background-color-3;
    border-radius: 1rem;
    margin-bottom: 1rem;
    .new-post-text {
      padding: 0.8rem 1rem;
      font-size: 1.1rem;
      border: none;
      width: 60ch;
      max-width: 60ch;
      background-color: v.$post-background;
      border-radius: 20px;
      &:focus {
        outline: none;
      }
    }
    .buttons {
      margin-top: 1rem;
      display: flex;
      gap: 0.6rem;
      left: 0;
      align-items: center;
      button {
        width: 1.7rem;
        height: 1.7rem;
        padding: 0.3rem;
        border-radius: 50%;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #d4f5ee;
        color: v.$background-color-1;
        cursor: pointer;
      }
      .img-info {
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        .img-name {
          font-size: 1.2rem;
          font-weight: bold;
        }
        .remove-img {
          width: 1rem;
          height: 1rem;
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .posts-list {
    .add-post {
      padding: 1rem 0.7rem;
      .new-post-text {
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
        width: 30ch;
        max-width: 30ch;
      }
    }
  }
}
