$main-color-1: #0b090a;
$main-color-2: #161a1d;
$main-color-3: #8f8e8a;
$background-color-1: #7c7a73;
$background-color-2: #ffffff;
$background-color-3: #eeeeee;
$text-color: #696865;
$text-color-alt: #c0aeae;
$hover-color: #525252;
$border-color: #535353;
$post-background: #ffffff;
$button-color: #ffffff;
