$main-color-1: #0b090a;
$main-color-2: #161a1d;
$background-color-1: #182f53;
$main-color-3: #0c4c8a;
$background-color-2: #1f375d;
$background-color-3: #c4e9e1;
$hover-color: #0c4c8a;
$text-color: #1f375d;
$text-color-alt: #addfde;
$border-color: #1f375d;
$post-background: #d4f5ee;

// $main-color-1: #0b090a;
// $main-color-2: #161a1d;
// $background-color-1: #660708;
// $main-color-3: #8dcacb;
// $background-color-2: #ffd9c6;
// $background-color-3: #39383c;
// $hover-color: #8dcacb;
// $text-color: #fea889;
// $text-color-alt: #fea889;
// $border-color: #1f375d;
